{% extends 'layout.html' %}

{% block body %}
<!-- <body>
  <br>
   <div class="card" style="height:20rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome to Admin Panel.</h5> -->
    <!-- <h6 class="card-title">Select the type of Disease:</h6> -->
    <!-- <p class="card-text">You wish to view the reoprt for.</p> -->
    <!-- <a href="#" class="card-link">Card link</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
    <!-- <br>
    <br>
    <h5>Select the type of Disease :</h5>
    <select class="custom-select">
    <option selected>Diseases:</option>
    <option value="1">Disease 1</option>
    <option value="2">Disease 2</option>
    <option value="3">Disease 3</option>
    <option value="3">Disease 3</option>
    <option value="3">Disease 3</option>

  </select>
</div>
</div>

<div class="card" style="height:20rem;">
</div>
</div>
</body> -->
<br>

<div class="container">

<div class="row">

  <div class="col-sm-6" >
    <div class="card" style="height:20rem;">
   <div class="card-body">
     <h5 class="card-title">Welcome to Admin Panel.</h5>
     <!-- <h6 class="card-title">Select the type of Disease:</h6> -->
     <!-- <p class="card-text">You wish to view the reoprt for.</p> -->
     <!-- <a href="#" class="card-link">Card link</a> -->
     <!-- <a href="#" class="card-link">Another link</a> -->
     <br><br>
     <h5>Select the type of Disease :</h5>
     <select class="custom-select">
     <option selected>Diseases:</option>
     <option value="1">Disease 1</option>
     <option value="2">Disease 2</option>
     <option value="3">Disease 3</option>
     <option value="3">Disease 3</option>
     <option value="3">Disease 3</option>

   </select><br><br><br>
   <button type="button" class="btn btn-info">Submit</button>
 </div>
 </div>

  </div>
  <div class="col-sm-6" style="background-color:#f8f9fa!important;"></div>
</div>
</div>


{% endblock %}
