<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>List of Reports - EnggProject</title>
    {% endif %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <h3 style='margin-left:10px;'>Generate Reports</h3>
    <button style='margin-left: 20px; border-radius: 4px;' onClick="window.location.href='/algo';">View Algorithms</button>
    <br/><br/>
    <h3 style='margin-left:10px;'>Available Reports</h3>
    {% if reports %}
    <table style="border:solid black 1px; margin:10px;"><tbody>
        <tr style="border:solid black 1px;padding:0px;"><th style="border:solid black 1px;padding:8px 16px 8px 16px; text-align: center;">Report Date</th><th style="border:solid black 1px;padding:8px 16px 8px 16px; text-align: center;">Report Link</th>
        <th style="border:solid black 1px;padding:8px 16px 8px 16px; text-align: center;">Prediction Algorithm</th></tr>
    {% for report in reports %}
        <tr style="border:none;padding:0px;"><td style="border:none; border-right:solid 1px black; padding:0px 16px 0px 16px;">{{report.ReportTime}}</td><td style="border:none;padding:0px 16px 0px 16px;"><a href="/output{{report.ReportLoc}}" style="text-decoration: none;">{{report.ReportName}}</a></td><td style="border:none;padding:0px 16px 0px 16px;">{{report.AlgorithmName}}</td></tr>
    {% endfor %}
    </tbody></table>
    {% else %}
    <p style="padding:8px;font-size:16pt;">No reports available</p>
    {% endif %}
</body>    
</html>